<?xml version="1.0" encoding="utf-8" ?>
<nlog xmlns="http://www.nlog-project.org/schemas/NLog.xsd"
      xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance">
  <targets>
    <!-- Target per il file di log -->
    <target name="file" xsi:type="File" filename="A:\GDrive\Visual Studio\Udemy\betacomio\LogError.txt">
      <layout xsi:type="LayoutWithHeaderAndFooter">
        <header>==== Log File Start ===</header>
        <footer>==== Log File End ===</footer>
        <layout xsi:type="CsvLayout">
        
          <column name="Level" layout="${level}" />
          <column name="MachineName" layout="${machinename}" />
          <column name="Logged" layout="${date}" />
          <column name="Logger" layout="${logger}" />
          <column name="Properties" layout="${all-event-properties:separator=|}" />
          <column name="Exception" layout="${exception:tostring}" />
          
          <column name="Message" layout="${message}" />
        </layout>
      </layout>
    </target>
 
 
    <!-- Target per il database -->
    <target name="db" xsi:type="Database"
        connectionstring="Server=.\SqlExpress; Database=betacomio; Trusted_Connection=true; TrustServerCertificate=true"
        commandType="StoredProcedure"
        commandText="[dbo].[NLog_AddEntry_p]">
      <parameter name="@machineName" layout="${machinename}" />
      <parameter name="@logged" layout="${date}" />
      <parameter name="@level" layout="${level}" />
      <parameter name="@message" layout="${message}" />
      <parameter name="@logger" layout="${logger}" />
      <parameter name="@properties" layout="${all-event-properties:separator=|}" />
      <parameter name="@exception" layout="${exception:tostring}" />
    </target>

</targets>
  <rules>
    <!-- Regola per il file di log -->
    <logger name="*" minlevel="Trace" writeTo="file" />

    <!-- Regola per il database -->
    <logger name="*" minlevel="Trace" writeTo="db" />
  </rules>
</nlog>
